.footer{
    background:#ffffff;
    border-top: 1px solid #ebebeb;
    padding: 36px 28px 24px 28px
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin-bottom: 28px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer h4{
    font-size: 13px;
    font-weight: 500;
    color: #111111;
    margin-bottom: 14px;
}

.footer a{
    display: block;
    font-size: 13px;
    color: #999999;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer a:hover{
    color: #111111;
}

.footer-bottom{
    display: flex;
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.social-icons{
    display: flex;
    gap: 16px;
}

.social-icons i{
    font-size: 18px;
    color: #bbbbbb;
}